.body{
    display: flex;
}

.left{
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #449797;
}

.left_header{
    background-color: #428E89;
}

.left_link_img_container{
    padding-top: 15px;
    padding-bottom: 9px;
}

.left_img_link{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.left_logo_img{
    width: 180px;
    height: auto;
}

.left_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left_item{
    margin: 0;
    padding: 0;
}

.left_item_link_wrapper{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.left_item_img{
    margin-right: 25px;
}

.left_item_text{
    color: white;
}

.left_main{
    height: 40vh;
}

.left_footer{
    margin-top: auto;
}

/* SECTION RIGHT */

.right{
    width: 1620px;
}

.right_header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.time_wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.right_top_date{
    margin-right: 20px;
}

.right_top_time{
    margin-right: 55px;
}

.search_input{
    width: 200px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    background-image: url('../img/main/search_lupa.png');
    background-repeat: no-repeat;
    background-position: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.right_top_datetime{
    font-weight: bold;
}

.left_item_active{
    border-left: 1px solid dodgerblue;
}