/* MAIN-FILTERS */

.main_container{
    padding-top: 65px;
    display: flex;
}

.filters{
    width: 700px;
    height: 50px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 10px;
    background-color: white;
}

.filters_img{
    width: 30px;
    height: 35px;
    margin-right: 15px;
}

.filter_button{
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-right: 23px;
    border: none;
    background-color: transparent;
    border-right: 2px solid black;
    background-image: url('./../img/mijozlar/bottom_btn.svg');
    background-repeat: no-repeat;
    background-position: 100px;
}

.filter_button:last-child{
    border-right: none;
    padding: 0;
}

.button_status{
    border-left: 2px solid black;
}

.button_mijoz_qushish{
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-left: auto;
    background-color: #1E90FF;
    border-radius: 5px;
    background-image: url('./../img/mijozlar/mijoz+.svg');
    background-repeat: no-repeat;
    background-size: 35px 28px;
    background-position: 25px;
}

/* MAIN LIST */

.users_list{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.about_of_list{
    width: auto;
    background-color: #F8F8F8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 61px 10px 50px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #000;

}

.list_item{
    padding: 0;
    margin: 0;
}

.item_id{
    margin-left: -20px;
}

.item_fish{
    margin-right: 40px;
    margin-left: 20px;
}

.item_izoh{
    margin-right: 13px;
}

/* .item_status{
    margin-right: 168px;
}

.item_tel{
    margin-right: 225px;
}

.item_sana{
    margin-right: 189px;
}

.item_qurilma{
    margin-right: 178px;
}

 */

.users_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 400px;
    overflow: auto;
}

.users_item{
    padding: 0;
    margin: 0;
    background-color: white;
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 20px 12px 15px 55px;
    display: flex;
    align-items: center;
    
}

.users_item:last-child{
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.users_link{
    width: 1052px;
    z-index: 11;
    text-decoration: none;
    color: black;
}

.item_tel{
    margin-left: 20px;
}

.users_text{
    padding: 0;
    margin: 0;
}

.users_img_wrapper{
    width: 105px;
    /* margin-right: 100px; */
}

.users_ism_link{
    text-decoration: none;
    color: black;
}

.users_ism_link:hover{
    text-decoration: underline;
    color: dodgerblue;
}

.users_id{
    width: 123px;
}

.users_ism_wrapper{
    width: 185px;
}

.users_tel_wrapper{
    width: 190px;
}

.users_sana_wrapper{
    width: 120px;
}

.users_device{
    width: 183px;
}

.users_bugs{
    height: 25px;
    /* width: 20px; */
}